.MenuItem {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.MenuItem:hover {
    background-color: rgb(172, 167, 167);
}

.btnMenu {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.modal-90w{
    width: 90% !important;
}

.modal-dialog {
    max-width: none !important;

}